{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>
    {#        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link href="{% static 'blog.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Nekidaem</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:post-create' %}">Create post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:users' %}">Subscribe on users</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>


            {% if request.user.is_authenticated %}
                <span id="navbar-text" class="navbar-text">    Hello {{ request.user.username }} </span>
                {#                        <li class=" nav-item"><a href="{% url "account:logout-django" %}">Logout</a></li>#}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>

                </li>
            {% else %}
                {#                        <li class="nav-item"><a href="{% url "account:login-django" %}">Log-in</a></li>#}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>
<div id='page_content' class="container-fluid">

    <div class="row">

        <div class="col-sm-9 content">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close">x</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>


        </div>

        <div class="col-sm-3 ">
            {% include 'post/sidebar.html' %}
        </div>

    </div>
</div>

</body>
</html>



