
<h2>Info</h2><hr>
{% with blogs_subscribed=request.user.blogs_subscribed.all %}
    {{ blogs_subscribed.count }} user{{ blogs_subscribed.count|pluralize }} are following you:<br>
    {% for blog in blogs_subscribed %}
        {{ blog.user.username }}

    {% endfor %}
{% endwith %}
<hr>
{% with subscribes=request.user.blog.subscribes.all %}
    You've subscribed on {{ subscribes.count }} bloger{{ subscribes.count|pluralize }} :<br>
    {% for bloger in subscribes %}
        {{ bloger.username }}
        <a href="{% url 'blog:unsubscribe' bloger.blog.id %}">Unsubcscribe</a><br>
    {% endfor %}
{% endwith %}
<hr>
<h2>News feed</h2>
{% with news_posts=request.user.blog.news_feed.all %}
    {% for news_post in  news_posts %}
        <a href="{{ news_post.post.get_absolute_url }}">
            {{ news_post.post.title }}
        </a>
        {% if not news_post.read %}
            <a class="mark-read" href="{% url 'blog:news-post-update' news_post.pk%}">mark as read</a>
        {% else %}
            <a class="mark-read" href="{% url 'blog:news-post-update' news_post.pk%}">mark as unread</a>
        {% endif %}
        <p class="date">
            Published {{ news_post.post.publish }} by {{ news_post.post.blog.user.username }}
        </p>
    {% endfor %}
{% endwith %}

